.nav{
    background-color: #f9f9fa;
    padding: 20px 50px;
    /*아래 바의 윗 선 디자인*/
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    /*아래 아이콘바를 아래에다가 고정쓰*/
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
}

.nav__list{
    display: flex;
    justify-content: space-between;
}

.nav__link{
    color: #2e363e;
    position: relative;
}

.nav__notification {
    position: absolute;
    left: 15px;
    bottom: 15px;
}

.nav__red__dot {
    background-color: tomato;
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 35px;
    bottom: 25px;
}